@page "/reservations"

 <div class="container-fluid">
      <div class="row my-2">
        <h2 class="text-center">Reservation Finder</h2>
      </div>
      <div class="row">
        <form class="d-flex flex-row my-1">
          <div class="col mx-1">
            <label for="code" class="form-label">Code:</label>
            <input type="text" id="code" class="form-control form-control-sm">
          </div>
          <div class="col mx-1">
            <label for="airline" class="form-label">Airline:</label>
            <input type="text" id="airline" class="form-control form-control-sm">
          </div>
          <div class="col mx-1">
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" class="form-control form-control-sm">
          </div>
          <div class="col align-self-end">
            <button
              type="button"
              class="btn btn-primary btn-sm w-100 btn-block"
            >
              Find reservation
            </button>
          </div>
        </form>
      </div>

      <!-- Reservation result -->

      <div>
        <div class="row my-2">
            <h2 class="text-center">Reservations</h2>
          </div>
        <div class="col">
          <select class="form-select form-select-sm">
            <option value="1">test</option>
            <option value="2">test</option>
          </select>
        </div>
      </div>

      <!-- Reservation form for update -->

      <div class="row my-2">
        <h2 class="text-center">Reserve</h2>
      </div>
      <div class="row my-y">
        <form class="d-flex flex-column my-1">
            <div class="row m-1">
                <label for="reservationcode" class="input-group-text input-group-sm form-label">Reservation Code:</label>
                <input type="text" value="Flight" class="form-control" id="reservationcode" readonly>
            </div>
          <div class="row m-1">
            <label for="flightcode" class="input-group-text input-group-sm form-label">Flight Code:</label>
            <input type="text" value="Flight" class="form-control" id="flightcode" readonly>
          </div>
          <div class="row m-1">
            <label for="airline" class="input-group-text input-group-sm form-label">Airline:</label>
            <input type="text" value="Airline" class="form-control" id="airline" readonly>
          </div>
          <div class="row m-1">
            <label for="cost" class="input-group-text input-group-sm form-label">Cost:</label>
            <input type="text" value="0" class="form-control" id="cost" readonly>
          </div>
          <div class="row m-1">
            <label for="name" class="input-group-text input-group-sm form-label">Name:</label>
            <input type="text" placeholder="Name" class="form-control" id="name">
          </div>
          <div class="row m-1">
            <label for="citizenship" class="input-group-text input-group-sm form-label">Citizenship:</label>
            <input type="text" placeholder="Citizenship" class="form-control" id="citizenship">
          </div>
          <div class="row m-1">
            <label for="active" class="input-group-text input-group-sm form-label">Status:</label>
            <input type="text" placeholder="Active" class="form-control" id="active">
          </div>
          <div class="row m-1">
            <button class="btn btn-primary btn-sm w-100 btn-block">Reserve</button>
          </div>
        </form>
      </div>
    </div>

@code {
    
}